---
interface Props {
  title: string;
  isCollapsed: boolean;
}
const { title, isCollapsed = true } = Astro.props;
import { randomBytes } from "crypto";
import { ChevronUp } from "lucide-astro";
const id = "c" + randomBytes(6).toString("hex");
---

<button
  type="button"
  aria-controls={id}
  class="collapsible group flex w-full items-center justify-between rounded-lg bg-accent p-4"
  data-bs-toggle="collapse"
  data-bs-target={"#" + id}
>
  <h4 class="not-prose text-lg">
    {title}
  </h4>
  <ChevronUp
    class="trnasition-transform group-[[aria-expanded='true']]:rotate-180"
  />
</button>
<div
  id={id}
  aria-expanded="false"
  class:list={[
    "collapse overflow-hidden transition-[height] duration-300 ease-in-out",
    { show: !isCollapsed },
  ]}
>
  <div class="measuringWrapper">
    <slot />
  </div>
</div>
