---
import { ChevronRight } from "lucide-astro";
import { FOOTER, siteMetadata } from "src/site-config";
---

<footer
  class="flex flex-wrap justify-between items-center p-4 max-w-3xl mx-auto px-6 xl:px-0 text-muted-foreground"
>
  <div class="flex flex-row">
    <ChevronRight class="h-6 w-6" />
    <p class="font-bold">{siteMetadata.title}</p>
  </div>
  <p class="md:place-self-center md:justify-self-end">{FOOTER}</p>
</footer>
