---
import { Languages } from "lucide-astro";
import { LANGS, languages } from "src/site-config";
const url = Astro.url.pathname.split("/");
---

<div class="dropdown h-6">
  <button
    class="dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    data-bs-offset="0,10"
  >
    <Languages class="h-6 w-6" />
  </button>
  <ul
    class="dropdown-menu dropdown-menu-end rounded-md border-[1px] border-border bg-background p-1"
  >
    {
      LANGS.map((lang) => (
        <li class="flex rounded-md hover:bg-accent">
          <a class="w-full p-2" href={url.with(1, lang).join("/")}>
            {languages[lang].name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
