---
import RootLayout from "src/layouts/RootLayout.astro";
import { LANGS } from "src/site-config";
const { lang } = Astro.params;
export function getStaticPaths() {
  return LANGS.flatMap((lang) => [{ params: { lang } }]);
}
---

<RootLayout lang={lang}>
  <h1>Hello, world! {lang}</h1>
</RootLayout>
