---
interface Props {
  lang: string;
}
export function getStaticPaths() {
  return LANGS.flatMap((lang) => [{ params: { lang } }]);
}

import Collapsible from "@components/Collapsible.astro";
import Figure from "@components/Figure.astro";
import Posts from "@components/Posts.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import RootLayout from "src/layouts/RootLayout.astro";
import { getSortedPostsData } from "src/lib/posts";
import { translate } from "src/lib/util";
import { LANGS } from "src/site-config";

const { lang } = Astro.params;
const content = await getEntry("home-page", lang);
const { Content } = await content.render();
const recentPosts = (await getSortedPostsData(lang)).slice(0, 5);
---

<RootLayout lang={lang}>
  <main class="max-w-3xl py-3 xl:py-6">
    <article class="prose prose-code:font-normal">
      <Content components={{ Collapsible, Figure, Image }} />
    </article>
    <h1 class="group mt-8 text-3xl font-bold">
      {translate(lang, "recentPosts")}
    </h1>
    <Posts lang={lang} posts={recentPosts} />
  </main>
</RootLayout>
